*{
    box-sizing: border-box;
    padding: 0;
}
.body{
    background-color: beige;
    margin: 0;
}
.header {
    position: fixed;
    background-color: blue;
    height: 89px;
    color: white;
    width: 1440px;
    size: 28px;
    z-index: 10px;
}
.header__h1{
    font:size;
    Width:403px;
    Height:63px;
    Top:13px;
    Left:29px;
}
.saidbar {
position: absolute; 
border-right: 3px solid grey;
width: 280px;
height: 457px;
left: 5px;
top: 136px;
}
.saidbar-h3{
    display: block;
    background-color: rgb(125, 168, 17);
    width: 980px;
    margin-top: 40px;
    position: relative;
    height: 40px;
}
.saidbar__list {
    width: 180px;
    text-indent: 20px;
    margin-bottom: 160%;
    line-height: 25px;
    background-color: rgb(125, 168, 17);
}
.sidebar__text {
   color: blue;
}
.sidebar__link{
    padding-bottom: 20px;
    display: list-item;
}
.content {
    position: absolute;
    left: 400px;
    width: 800px;
    padding-bottom: 20px;
    top: 132px;
}
.content__h2 {
    background-color: blue;
    color: white;
    height: 15px;
    padding-bottom: 25px;
    width: 1440px;
    size: 28px;
    position: sticky;
    top: 100px;
}
.content__element {
    list-style-type: none;
}
 