*{
    box-sizing: border-box;
}
.body{
    background-color: beige;
    margin: 0;
}
.header {
    position: fixed;
    background-color: blue;
    height: 89px;
    color: white;
    z-index: 10px;
    width: 100%;
}
.header__h1{
    font-size: 40px;
    padding-left: 30px;
}
.saidbar {
position: absolute; 
border-right: 3px solid grey;
width: 280px;
height: 457px;
left: 65px;
top: 136px;
}
.saidbar-h3{
    display: block;
    background-color: rgb(125, 168, 17);
    width: 980px;
    margin-top: 30px;
    position: relative;
}
.saidbar__list {
    width: 200px;
    line-height: 25px;
    background-color: rgb(5, 168, 50);
    list-style-type: none;
}
.sidebar__text {
   color: blue;
}
.sidebar__link{
    padding-bottom: 20px;
    display: list-item;
}
.content {
    position: absolute;
    left: 400px;
    width: 800px;
    padding-bottom: 20px;
    top: 132px;
}
.content__h2 {
    background-color: blue;
    color: white;
    height: 15px;
    padding-bottom: 25px;
    width: 1440px;
    position: sticky;
    top: 100px;
    padding-left: 15px;
}
.content__element {
    list-style-type: none;
}
.content__text{
    font-size: 20px;
}
 